In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('groceries - groceries.csv',header=None)
dataset = dataset.drop(index=0).reset_index(drop=True)
dataset = dataset.iloc[:, 1:11]

In [3]:
dataset

,1,2,3,4,5,6,7,8,9,10
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9830,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream
9831,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags
9833,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN
9834,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9835 entries, 0 to 9834
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       9835 non-null   object
 1   2       7676 non-null   object
 2   3       6033 non-null   object
 3   4       4734 non-null   object
 4   5       3729 non-null   object
 5   6       2874 non-null   object
 6   7       2229 non-null   object
 7   8       1684 non-null   object
 8   9       1246 non-null   object
 9   10      896 non-null    object
dtypes: object(10)
memory usage: 768.5+ KB

In [5]:
transactions = []
for i in range(0,9835):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 10)])

In [6]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.004, min_confidence = 0.3, min_lift = 3, min_length = 2, max_length = 2)

In [7]:
results = list(rules)

In [8]:
results

[RelationRecord(items=frozenset({'beef', 'root vegetables'}), support=0.017386883579054397, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beef'}), items_add=frozenset({'root vegetables'}), confidence=0.3313953488372093, lift=3.0403668431100312)]),
 RelationRecord(items=frozenset({'liquor', 'bottled beer'}), support=0.004575495678698526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'liquor'}), items_add=frozenset({'bottled beer'}), confidence=0.42056074766355145, lift=5.604627307955323)]),
 RelationRecord(items=frozenset({'herbs', 'root vegetables'}), support=0.007015760040671073, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herbs'}), items_add=frozenset({'root vegetables'}), confidence=0.43124999999999997, lift=3.956477378731343)])]

In [9]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [10]:
resultsinDataFrame

  Left Hand Side  Right Hand Side   Support  Confidence      Lift
0           beef  root vegetables  0.017387    0.331395  3.040367
1         liquor     bottled beer  0.004575    0.420561  5.604627
2          herbs  root vegetables  0.007016    0.431250  3.956477

In [13]:
r1 = resultsinDataFrame.nlargest(n = 10, columns = 'Lift')

In [14]:
output = r1.to_csv("output.csv", index=False)

In [16]:
r1

  Left Hand Side  Right Hand Side   Support  Confidence      Lift
1         liquor     bottled beer  0.004575    0.420561  5.604627
2          herbs  root vegetables  0.007016    0.431250  3.956477
0           beef  root vegetables  0.017387    0.331395  3.040367